@import "mixins";


.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    .error__btn{
        @include boton($dark-pink, $dark-blue, $bg-color-hover-buttom-cart, $transition-time);
        &:hover{color:$white};
        max-width: 100px;
    }
}

.video{
    margin-top: 50px;
    .video__container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        .video__item{
            height: 70vh;
        }
    }
}


/* --- MEDIA QUERIES --- */

@media only screen and (max-width: 768px) {
    .video{
        margin-top: 120px;
        .video__container{
            .video__item{
                height: 60vh;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .page{
        .page__title{
            font-size: 1.3em;
        }
    }

    .video{
        margin-top: 100px;
        .video__container{
            .video__item{
                height: 40vh;
            }
        }
    }
}

@media only screen and (max-width: 410px) {
    .page{
        .page__title{
            font-size: 1.1em;
        }
    }

    .video{
        .video__container{
            .video__item{
                height: 30vh;
            }
        }
    }
}

@media only screen and (max-width: 304px) {

    .video{
        margin-top: 120px;
    }
}