

.products__btn{
  @include boton($dark-pink, $dark-blue, $bg-color-hover-buttom-cart, $transition-time);
  &:hover{color:$white};
  margin: 20px 5px; 
}




/* --- MEDIA QUERIES --- */

@media only screen and (max-width: 991px) {
  .card__container-mq{
      .card__img-container-mq{
          width: 100%;
      }
      .card__body-mq{
          width: 100%;
      }
  }
}

@media only screen and (max-width: 768px){
  .card__mobile{
    display: none;
  }
}