@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$font-principal: "PT Sans Narrow", sans-serif;
$font-secundaria: "Dancing Script", cursive;


/* Tamaños de Fuentes */
$font-size-xl: 4em;
$font-size-l: 2em;
$font-size-m: 1.3em;
$font-size-s: 1.2em;


/* Altos de línea */
$line-height-l: 1.5;
$line-height-m: 1.2;
$line-height-s: 1;



/* Font Weight */
$font-weight: bolder;

/* Centro de texto */
$text-align: center;

/* Espaciado de letras */
$letter-spacing: 0.4em;