
.header{
    background-color: $bg-color-header;
    position: sticky;
    z-index: 3;
    top: 0px;
    .header__nav{
        .header__img{
            width: 50px;
            height: 50px;
        }
        .header__nav-link{
            text-decoration: none;
            color: $font-color;
            font-size: 18px;
            font-weight: lighter;
            &:hover{
                background-color: $bg-color-header-hover;
                color: $bg-color-header;
                transition: 350ms linear;
            }
        }

        .header__nav-form{
            .header__nav-form-btn{
                color: $btn-color;
                background-color: $bg-color-buttom-cart;
                &:hover{
                    background-color: $dark-green;
                    transition:$transition-time;
                }
            }
        }
    }
}
