@import "mixins";

.products__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
  
    .products__img-container{
      box-shadow: 2px 2px 5px 1px $font-color;
      margin: 40px;
      
      .products__img{
        width: 300px;
        margin: 15px;
          &:hover{
            opacity: $opacity;
        }
      }
      .products__img-texts{
        display: flex;
        align-items: baseline;
        justify-content:space-around;
        font-weight: bold;
      }
      .products__btn-container{
        display: flex;
        justify-content: center;
  
        .products__btn-cart {
          @include boton($bg-color-buttom-cart, $btn-color, $bg-color-hover-buttom-cart, $transition-time);
          margin: 20px 0px;
        }
      }
    }
  }