
.page{
    height: 90px;

    .page__title{
        margin-top: 50px;
        font-size: 2em;
        font-weight: bolder;
        text-align: center;
    }
    .page__description{
        font-size: 1.3em;
        line-height: 1.5;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .page{
        height: 10px;
        .page__title{
            margin-top: 30px;
        }
        .page__description{
            line-height: 1;
            font-size: 1em;
        }
    }
}