
.page{
    height: 90px;
    // border-top: 0.1px solid var(--grey);
    // border-bottom: 0.1px solid var(--grey);
    .page__title{
        margin-top: 50px;
        font-size: 2em;
        font-weight: bolder;
        text-align: center;
    }
    .page__description{
        font-size: 1.4em;
        line-height: 1.5;
        text-align: center;
    }
}
