
.page{
    height: 90px;

    .page__title{
        margin-top: 50px;
        font-size: $font-size-l;
        font-weight: bolder;
        text-align: $text-align;
    }
    .page__description{
        font-size: $font-size-m;
        line-height: $line-height-l;
        text-align: $text-align;
    }
}


/* --- MEDIA QUERIES --- */

@media only screen and (max-width: 768px) {
    .page{
        height: 10px;
        .page__title{
            margin-top: 30px;
        }
        .page__description{
            line-height: 1;
            font-size: 1em;
        }
    }
}